<!-- authentication/templates/success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Successful</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header bg-success text-white">
            <h2 class="text-center">Login Successful</h2>
        </div>
        <div class="card-body">
            <p>Welcome, {{ username }}!</p>
            <p>Connected to Neo4j database: {{ database_name }}</p>
            <br>
            <!-- <p>your list of databases: {{ databases }}</p> -->
            <p>Selec your database</p>
            {% for database in databases %}
                <a href="" class="btn btn-primary btn-lg btn-block mb-2">{{ database }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

</body>
</html>
